
@import "assets/styles/nav";
@import "assets/styles/typography";
@import "assets/styles/buttons";
@import "assets/styles/home";
@import "assets/styles/projects";
@import "assets/styles/skills";
@import "assets/styles/about-me";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
