
@import "_variables";

.hero-btn__container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .hero-btn {
    background-color: #721D42;
    color: #F1E2E9;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
    border: 2px solid black;
    border-radius: 29px;
    line-height: 45px;
    max-width: 80%;
    font-size: 12px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 
      0px 1px #532853, 1px 2px #532853, 
      2px 3px #532853, 3px 4px #532853, 
      4px 5px #532853, 5px 6px #532853, 
      6px 7px #532853, 7px 8px #532853, 
      8px 9px #532853, 9px 10px #532853,
      10px 11px #532853, 11px 12px #532853, 
      12px 13px #532853, 13px 14px #532853, 
      14px 15px #532853, 15px 16px #532853, 
      16px 17px #532853, 17px 18px #532853, 
      18px 19px #532853, 19px 20px #532853,
      22px 23px black ;

    
  @media only screen and (min-width: $mobile) {
    line-height: 60px;
    font-size: 18px;
    padding: 20px 30px;
  
  }
  }


  .hero-btn:hover  {
    background-color: #A1245B;

  @media only screen and (min-width: $mobile) {
    padding: 40px 50px;
    font-size: 20px;
  }
  }

  .hero-btn:active {
    box-shadow: 5px 5px black;
    transform: translate(10px,15px);
  }

 
}

.project__btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project__dp-btn {
  background-color: #721D42;
  color: #F1E2E9;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 29px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 1px #532853, 1px 2px #532853, 2px 3px black;
}

.project__dp-btn:hover  {
  background-color: #A1245B;
}

.project__code-btn {
  background-color: #532853;
  color: #F1E2E9;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 29px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 1px #721D42, 1px 2px #721D42, 2px 3px black;
}

.project__code-btn:hover {
  background-color: #7D217D;
}

.project__dp-btn:active, .project__code-btn:active {
  box-shadow: 1px 1px black;
  transform: translate(1px,2px);
}
