
@import "_variables";

.nav {
  min-height: 50px;
  border-bottom: 2px solid #721D42;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (min-width: $mobile) {
    position: fixed;
    flex-wrap: nowrap;
  }

  .nav__logo {
    left: 20px;
    top: 20px;
    font-size: 30px;
    text-shadow: 1px 1px #F1E2E9, 2px 2px #F1E2E9;
  }

  .nav__logo.scroll {
    text-shadow: 1px 1px black, 2px 2px black;
  }

  .nav__logo.scroll:hover {
    color: black;
    text-shadow: 1px 1px #F1E2E9, 2px 2px #F1E2E9;
  }

}

.nav.scroll {
  background-color: #721D42;
}

  .nav__hamburger-menu {
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    
  @media only screen and (min-width: $mobile) {
    display: none;
  }
  }

  .nav__hamburger-menu:hover {
    color: #721D42;
  }

  .nav__hamburger-menu-bars.scroll {
    color: #F1E2E9;
  }

  .nav__hamburger-menu-bars.scroll:hover {
    color: black;
  }

  .nav__link-container {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    
  @media only screen and (min-width: $mobile) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  }

  .nav__link-container.show {
    display: flex;
  } 
  
  .nav__link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0px 30px;
  }

  .nav__link.scroll {
    color: #F1E2E9;
  }
  
  .nav__link.scroll:hover {
    color: black;
  }

  .nav__link:hover {
    color: #721D42;
  }
  
  
