
@import "_variables";

.projects__header {
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 0px 1px #721D42, 0px 0px 1px #721D42, 0px 0px 1px #721D42 ;
  text-decoration: underline 2px solid #721D42;
  text-underline-offset: 15px;
  margin: 120px 0px 100px;
  
}

.project {
  border: 2px solid black;
  border-radius: 29px;
  background-color: #F1E2E9;
  margin: 30px 20px;
  padding: 20px;
}

.project__title {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 20px;
}

.project__img-container {
  display: flex;
  justify-content: center;
}

.project__img {
  background-image: url("assets/media/projects-placeholder.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.project__img-one {
  background-image: url("assets/media/js-calculator.PNG");
  height: 400px;
  width: 300px;
}

.project__img-two {
  background-image: url("assets/media/tic-tac-toe.PNG");
  height: 400px;
  width: 300px;
}

.project__img-three {
  background-image: url("assets/media/morse-code-translator.PNG");
  height: 350px;
  width: 350px;

  @media only screen and (min-width: $desktop) {
    height: 400px;
    width: 400px;
  }
}

.project__description {
  padding: 10px 2px;
  text-align: center;
}

.project__icon-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.project__icon-label {
  display: none;
  padding-top: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #532853;
}

.project__icon {
  padding: 5px 5px;
}

.project__icon:hover + .project__icon-label {
  display: flex;
}


@media only screen and (min-width: $mobile) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: $desktop) {
  .projects__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}